name: Coverage
on: [ push, pull_request ]
jobs:
    codecov:
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout code
                uses: actions/checkout@v4
                with:
                    fetch-depth: 2
            -   name: Install Go
                uses: actions/setup-go@v5
                with:
                    go-version: '1.25.2'
                    cache: true
            -   name: Run coverage
                run: go test -timeout 5s -race -coverprofile=coverage.txt -covermode=atomic
            -   name: Upload coverage reports to Codecov
                uses: codecov/codecov-action@v5
                with:
                    token: ${{ secrets.CODECOV_TOKEN }}